<!-- Reference- David Akim(2022) -->


<mat-toolbar class="menu" color="primary">
    <span>Communication Framework Tool</span>
    <span class="spacer"></span>


    <div>
        <a mat-button href="">Home</a>
        <a mat-button href="antennas">antennas</a>
        <a mat-button href="transceivers">transceivers</a>
        <a mat-button href="standards">standards</a>
        <a mat-button href="vsatdesigns">vsat</a>
        <a mat-button href="cubesatdesigns">cubesat</a>
        <a mat-button href="uavdesigns">uav</a>
        <a mat-button href="balloonsatdesigns">balloonsat</a>
        <a mat-button href="hamdesigns">ham</a>

       




    </div>

